.bloglist-container-left {
    width: 60%;
}

.bloglist-container-right{
    width: 40%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(var(--b6a,219,219,219),1);

}

.bloglist-container {
    margin: 5em;
    display: flex;
    flex-direction: row;
}